.row
  .col-sm-12
    .well.well-lg.register-box
      h3 Search pokemon available to trade
      input.form-control.form-space(type='text', placeholder="Pokemon Name", ng-model='pokemonName')
      button.btn.btn-info.btn-block(ng-click='searchPokemon(pokemonName)') Search Pokemon
.well.well-lg.add-button-space.text-center.slimshady
  h1 Pokemon Available for Trade:
  .row
    .col-sm-2.all-each.slimshady(ng-repeat="pokemon in pokedex | filter: pokemonName" ng-click="viewOnePoke(pokemon.name)")
      img.sprites(src="{{pokemon.sprite}}")
      | {{pokemon.name}}
