h1 Add Pokemon
.row
  .col-md-5.form.left-spacing
    input.form-control.form-space(type='text', placeholder="Pokemon Name", ng-model='pokemonName')
    button.btn.btn-info.btn-block(ng-click='addPokemon()') Add Pokemon