h1 Pokemon Available for Trade
.row
  .col-sm-2.all-each
    img(src="http://pokeapi.co/media/img/1.png")
    | Bulbasaur
  .col-sm-2.all-each
    img(src="http://pokeapi.co/media/img/2.png")
    | Ivysaur
  .col-sm-2.all-each
    img(src="http://pokeapi.co/media/img/3.png")
    | Venusaur
  .col-sm-2.all-each
    img(src="http://pokeapi.co/media/img/4.png")
    | Charmander
  .col-sm-2.all-each
    img(src="http://pokeapi.co/media/img/5.png")
    | Charmeleon
  .col-sm-2.all-each
    img(src="http://pokeapi.co/media/img/6.png")
    | Charizard
  .col-sm-2.all-each
    img(src="http://pokeapi.co/media/img/7.png")
    | Squirtle
  .col-sm-2.all-each
    img(src="http://pokeapi.co/media/img/8.png")
    | Wartortle
  .col-sm-2.all-each
    img(src="http://pokeapi.co/media/img/9.png")
    | Blastoise
  .col-sm-2.all-each
    img(src="http://pokeapi.co/media/img/10.png")
    | Caterpie