doctype html
html(ng-app="pokemonApp" ng-controller="navCtrl")
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel="stylesheet", href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css")
  body
    nav.navbar.navbar-inverse.navbar-fixed-top
      #navbar.collapse.navbar-collapse.pokemon-menu
        ul.nav.navbar-nav.navbar-left
          li.username(ui-sref='home') {{userName}}
        ul.nav.navbar-nav.navbar-right
          li
            a(ui-sref='allpokemon')
              i.glyphicon.glyphicon-th-large
              | &nbsp;&nbsp;Browse Pokemon
          li
            a(ui-sref='addpokemon')
              i.glyphicon.glyphicon-plus
              | &nbsp;&nbsp; Search Pokemon
          li
            a(ui-sref='profile')
              i.glyphicon.glyphicon-user
              | &nbsp;&nbsp;Trainer Profile
          li
            a(ui-sref='settings')
              i.glyphicon.glyphicon-cog
              | &nbsp;&nbsp;Profile Settings
          li
            a(ng-click="logout()")
              i.glyphicon.glyphicon-remove
              | &nbsp;&nbsp;Logout

    .container
      .row
        .col-xs-12
          div(ui-view)
      script(src='https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.4/jquery.js')
      script(src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js')
      script(src='https://ajax.googleapis.com/ajax/libs/angularjs/1.4.2/angular.min.js')
      script(src='https://cdnjs.cloudflare.com/ajax/libs/angular-ui-router/0.2.15/angular-ui-router.js')
      script(src='/javascripts/config.js')
      script(src='/javascripts/index.js')
      script(src='/javascripts/profileCtrl.js')
      script(src='/javascripts/settingsCtrl.js')
      script(src='/javascripts/newUserCtrl.js')
      script(src='/javascripts/addPokemon.js')
