h1 Login with Google
.row
  .col-md-5.form.left-spacing
    p We might not need this page since we are using oAuth to authenticate
    input.form-control.form-space(type='text', placeholder='Username', ng-model='username')
    input.form-control.form-space(type='password', placeholder='Password', ng-model='password')
    button.btn.btn-info.btn-block(ng-click='login()') Login
