h1 Trainer Profile
row
  .col-sm-12.trainer-info
    p User Name: purpleshirt
    p Trainer Name: Gary Oak
    p Friend Code: LJI6B32BKJHQEQ
    h3.trainer-pokemon Gary's Pokemon
    .row
      .col-sm-2.all-each
        img(src="http://pokeapi.co/media/img/6.png")
        | Charizard
      .col-sm-2.all-each
        img(src="http://pokeapi.co/media/img/7.png")
        | Squirtle
      .col-sm-2.all-each
        img(src="http://pokeapi.co/media/img/8.png")
        | Wartortle
      .col-sm-2.all-each
        img(src="http://pokeapi.co/media/img/9.png")
        | Blastoise
      .col-sm-2.all-each
        img(src="http://pokeapi.co/media/img/10.png")
        | Caterpie
