img(src="{{userImage}}")
h2 {{userName}}
row
  .col-sm-12.trainer-info
    p Friend Code: {{friendCode}}
    h3.trainer-pokemon {{firstName}} Pokemon
    .row
      .col-sm-2.all-each(ng-repeat="pokemon in userPokemon")
        img(src="{{pokemon.sprite}}")
        | {{pokemon.name}}
