h1 Register as a Trainer
.row
  .col-md-5.form.left-spacing
    input.form-control.form-space(type='text', placeholder='Username', ng-model='username')
    input.form-control.form-space(type='text', placeholder='Email', ng-model='email')
    input.form-control.form-space(type='password', placeholder='Password', ng-model='password')
    button.btn.btn-info.btn-block(ng-click='register()') Register
