h1 Update Friend Code
.row
  .col-md-5.form.left-spacing
    h3 {{userName}}
    input.form-control.form-space(type='text', placeholder='LJI6B32BKJHQEQ', ng-model='friendCode')
    button.btn.btn-info.btn-block(ng-click='updateProfile(friendCode)') Update Friend Code
